<h1> Welcome to DevOpsSchool.com. My name is {{ myname }}  ----- dddd</h1>

<h1>
Hello, 	ansible_distribution is {{ ansible_distribution }} and ansible_architecture {{ ansible_architecture }} and {{ ansible_os_family }}.</h1>
