<h1> Welcome to DevOpsSchool.com. My name is {{ myname }}</h1>
<h1> Files in tmp folders are {{ find_output.stdout_lines }}</h1>
<h1> My Name is {{ myname }}</h1>
<h1> {{ ansible_default_ipv4.address }}</h1>
