<h1> Welcome to Ansible training  &  My name is {{ myname }}</h1>
<h1> Files in home folders are {{ find_output.stdout_lines }}</h1>
<h1> This is  {{ myname }}</h1>
<h1> {{ ansible_default_ipv4.address }}</h1>
