<html>
<body>
<h3>Welcome to {{myname}} web page</h3>
<h3> Using inventory - The package is {{package}} </h3>
<h3>Using inventory - The service is {{service}} </h3>
<h3>Using Script - Script Output {{scriptoutput.stdout}}</h3>
<h3>IP Address using Fact Variable {{ ansible_default_ipv4.address }}</h3>
<h3>Host Name using Fact Variable {{ ansible_hostname }}</h3>
</body>
</html>